body {
	background-color: #131313;
	color: #ccc;
	font-family: 'Segoe UI';
}

.examples {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.examples div {
	padding: 10px 0 5px 0;
}

button {
	margin: 0 10px;
	background-color: transparent;
	border: 2px solid #aaa;
	color: #fff;
	cursor: pointer;
	padding: 20px;
}

button:hover {
	background-color: #aaa;
}
