body {
	background-color: #131313;
	color: #bbb;
	font-family: 'Segoe UI';
}

.examples {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
}

.examples div {
	padding: 10px 0 5px 0;
}

.examples button {
	margin: 10px;
	background-color: transparent;
	border: 2px solid #aaa;
	color: #fff;
	cursor: pointer;
	padding: 20px;
}

.examples button:hover {
	background-color: #aaa;
}

.examples a {
	color: #fff;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
