$alertjs-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;

$alertjs-backdrop: rgba(0, 0, 0, 0.3);

$alertjs-header-bg: #2d563b !default;
$alertjs-header-color: #fff !default;
$alertjs-header-bg-close-hover: #5fae79 !default;
$alertjs-header-bg-font: bold !default;

$alertjs-body-bg: #fff !default;
$alertjs-body-color: #000 !default;

$alertjs-footer-button-bg: #2d563b !default;
$alertjs-footer-button-bg-hover: #5fae79 !default;
$alertjs-footer-button-color: #fff !default;
$alertjs-footer-button-font: bold !default;

$alertjs-footer-cancel-bg: #a73d3d !default;
$alertjs-footer-cancel-bg-hover: #f55 !default;
$alertjs-footer-cancel-color: #fff !default;
$alertjs-footer-cancel-font: bold !default;
