@import './variables.scss';
@import './reset.scss';

@import '../../lib/alert/alert.scss';
@import '../../lib/confirm/confirm.scss';
@import '../../lib/prompt/prompt.scss';
@import '../../lib/toast/toast.scss';

.alertist {
	font-family: $alertist-font-family;
	outline: 0;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: transparent;
	align-items: center;
	justify-content: center;

	&::backdrop {
		opacity: 1;
		background-color: $alertist-backdrop;
		animation: fade 0.3s ease-out;
	}

	&[open] {
		animation: bounce 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
	}

	button {
		transition: 0.2s;
	}

	& {
		&-container {
			min-width: 300px;
			display: flex;
			flex-direction: column;
		}

		&-header {
			display: flex;
			background-color: $alertist-header-bg;
			color: $alertist-header-color;
		}

		&-title {
			padding-left: 10px;
			flex-grow: 1;
			display: flex;
			align-items: center;
			font-weight: $alertist-header-bg-font;
			user-select: none;
			cursor: move;
			cursor: grab;

			&:active {
				cursor: grabbing;
			}
		}
		&-title_close {
			padding: 10px;
			outline: 0;
			display: flex;
			background-color: $alertist-header-bg;

			&:hover {
				background-color: $alertist-header-bg-close-hover;
			}
		}

		&-title_error {
			background-color: $alertist-header-error-bg;
			color: $alertist-header-color;
		}
		&-title_error_close {
			background-color: $alertist-header-error-bg;
			&:hover {
				background-color: $alertist-header-error-bg-close-hover;
			}
		}

		&-body {
			background-color: $alertist-body-bg;
			color: $alertist-body-color;
		}

		&-wordbreak {
			max-width: 500px;
			word-wrap: break-word;
		}

		&-footer {
			display: flex;

			button {
				padding: 15px 1%;
				outline: 0;
			}

			&_button {
				background-color: $alertist-footer-button-bg;
				color: $alertist-footer-button-color;
				font-weight: $alertist-footer-button-font;
				&:hover {
					background-color: $alertist-footer-button-bg-hover;
				}
			}
			&_cancelbutton {
				background-color: $alertist-footer-cancel-bg;
				color: $alertist-footer-cancel-color;
				font-weight: $alertist-footer-cancel-font;
				&:hover {
					background-color: $alertist-footer-cancel-bg-hover;
				}
			}
		}
	}

	@keyframes fade {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes bounce {
		from {
			transform: scale(0.95);
		}
		to {
			transform: scale(1);
		}
	}
}
