@import './variables.scss';
@import './reset.scss';

.alertist {
	font-family: $alertist-font-family;
	outline: 0;

	&::backdrop {
		opacity: 1;
		background-color: $alertist-backdrop;
		animation: fade 0.3s ease-out;
	}

	&[open] {
		animation: bounce 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
	}

	button {
		transition: 0.2s;
	}

	& {
		&-container {
			min-width: 350px;
			display: flex;
			flex-direction: column;
		}

		&-header {
			display: flex;
			background-color: $alertist-header-bg;
			color: $alertist-header-color;
		}
		&-title {
			padding-left: 10px;
			flex-grow: 1;
			display: flex;
			align-items: center;
			font-weight: $alertist-header-bg-font;
			user-select: none;
			cursor: move;
			cursor: grab;

			&:active {
				cursor: grabbing;
			}
		}
		&-title_close {
			padding: 10px;
			outline: 0;
			background-color: $alertist-header-bg;

			&:hover,
			&:focus {
				background-color: $alertist-header-bg-close-hover;
			}
		}

		&-body {
			background-color: $alertist-body-bg;
			color: $alertist-body-color;
			min-height: 80px;
			padding: 10px;
		}

		&-wordbreak {
			max-width: 500px;
			word-wrap: break-word;
		}

		&-footer {
			display: flex;

			button {
				padding: 15px 1%;
				outline: 0;
			}

			&_button {
				background-color: $alertist-footer-button-bg;
				color: $alertist-footer-button-color;
				font-weight: $alertist-footer-button-font;
				&:hover,
				&:focus {
					background-color: $alertist-footer-button-bg-hover;
				}
			}
			&_cancelbutton {
				background-color: $alertist-footer-cancel-bg;
				color: $alertist-footer-cancel-color;
				font-weight: $alertist-footer-cancel-font;
				&:hover,
				&:focus {
					background-color: $alertist-footer-cancel-bg-hover;
				}
			}
		}
	}

	&-alert {
		.alertist-footer {
			&_button {
				width: 100%;
			}
		}
	}

	&-confirm {
		.alertist-footer {
			&_button {
				width: 50%;
			}

			&_cancelbutton {
				width: 50%;
			}
		}
	}

	@keyframes fade {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes bounce {
		from {
			transform: scale(0.95);
		}
		to {
			transform: scale(1);
		}
	}
}
