$alertist-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;

$alertist-backdrop: rgba(0, 0, 0, 0.6) !default;

$alertist-header-bg: #2d563b !default;
$alertist-header-color: #fff !default;
$alertist-header-bg-close-hover: #5fae79 !default;
$alertist-header-bg-font: bold !default;

$alertist-body-bg: #fff !default;
$alertist-body-color: #000 !default;

$alertist-footer-button-bg: #2d563b !default;
$alertist-footer-button-bg-hover: #5fae79 !default;
$alertist-footer-button-color: #fff !default;
$alertist-footer-button-font: bold !default;

$alertist-footer-cancel-bg: #a73d3d !default;
$alertist-footer-cancel-bg-hover: #f55 !default;
$alertist-footer-cancel-color: #fff !default;
$alertist-footer-cancel-font: bold !default;
